.star {
	--fade-in-duration: 1000ms;

	--animation-star-fade-in: star-fade-in ease-in var(--fade-in-duration) var(--delay) both;
	--animation-star-pulse: star-pulse ease-in var(--duration) calc(var(--delay) + var(--fade-in-duration)) infinite alternate;
	--animation-star-drift: star-drift linear calc(var(--duration) * 4) infinite alternate;
	--animation-star-drift-revolve: star-drift-revolve linear var(--revolution) infinite alternate;
	--animation-star-revolve: star-revolve linear var(--revolution) infinite;
	--animation-star-slow-revolve: star-revolve linear 1200s infinite;

	--rotate-offset: calc(2 * 360deg / var(--points) + var(--rotation));

	--revolve-scale-from: scale(var(--scale-x), var(--scale-y)) rotate(0deg) translate(var(--left), var(--top)) rotate(360deg)
		scale(calc(1 / var(--scale-x)), calc(1 / var(--scale-y)));
	--revolve-scale-to: scale(var(--scale-x), var(--scale-y)) rotate(360deg) translate(var(--left), var(--top)) rotate(0deg)
		scale(calc(1 / var(--scale-x)), calc(1 / var(--scale-y)));

	@media (prefers-reduced-motion: no-preference) {
		animation: var(--animation-star-fade-in), var(--animation-star-pulse), var(--animation-star-revolve);
		&.drift {
			animation: var(--animation-star-fade-in), var(--animation-star-pulse), var(--animation-star-drift-revolve);
		}
	}

	animation: var(--animation-star-fade-in), var(--animation-star-slow-revolve);

	&:focus-visible {
		outline: 2px solid var(--color-amber-50);
		outline-offset: 2px;
		border-radius: 100vmax;
		box-shadow: 0 0 20px var(--color-amber-50);
	}

	will-change: transform;
	transform-origin: center;
}

@keyframes star-fade-in {
	from {
		opacity: 0;
	}
}

@keyframes star-pulse {
	from {
		opacity: var(calc(0.2 * var(--opacity)));
	}
	to {
		opacity: var(--opacity);
	}
}

@keyframes star-revolve {
	from {
		transform: var(--revolve-scale-from);
	}
	to {
		transform: var(--revolve-scale-to);
	}
}

@keyframes star-drift-revolve {
	from {
		transform: var(--revolve-scale-from) translate(0, 0);
	}
	to {
		transform: var(--revolve-scale-to) translate(5px, 5px);
	}
}

.inner-star {
	&:hover,
	&:focus,
	.star:focus & {
		transform: scale(2) rotate(var(--rotate-offset));
		transition: transform 200ms ease-in-out;
	}

	transform: rotate(var(--rotation));
	will-change: transform;
	transition: transform 500ms ease-in-out;
}
