.star {
	@media (prefers-reduced-motion: no-preference) {
		animation: star-pulse ease-in-out infinite alternate;
		animation-duration: var(--duration);
		animation-delay: var(--delay);
		&.drift {
			animation:
				star-pulse ease-in-out var(--duration) infinite alternate,
				star-drift ease-in-out var(--duration) infinite alternate;
		}
	}

	&:focus-visible {
		outline: 2px solid var(--color-amber-50);
		outline-offset: 2px;
		box-shadow: 0 0 20px var(--color-amber-50);
	}

	&:hover,
	&:focus {
		transform: scale(1.5) rotate(calc(360deg / var(--points) + var(--rotation)));
		transition: transform 200ms ease-in-out;
	}

	will-change: transform;
	transform: rotate(var(--rotation));
	transition: transform 500ms ease-in-out;
}

@keyframes star-drift {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: rotate(calc(360deg / var(--points) + var(--rotation))) translate(5px, 5px);
	}
}

@keyframes star-pulse {
	from {
		filter: brightness(1);
	}
	to {
		filter: brightness(0.5);
	}
}
