@import 'tailwindcss';

@layer base {
	:root {
		@apply text-[rgba(255,255,255,0.87)] bg-slate-950 font-sans;
	}

	#root {
		@apply absolute inset-0;
	}

	body {
		@apply min-w-[320px] min-h-screen relative m-0 overflow-hidden;
		background-image: url('@/background.png');
		background-size: cover;
		background-position: center;
		background-color: #020618a0;
		background-blend-mode: darken;
	}

	a {
		@apply text-blue-400 hover:text-blue-500 active:text-blue-600 transition-colors underline cursor-pointer;
	}
}
